body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #6e318c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 2rem;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found {
  font-size: 2.5vw;
  padding: 15px;
  border-radius: 15px;
  color: #6e318c;
}

.btn {
  border-radius: 5px;
  background-color: #6e318c;
}

.btn:hover {
  background-color: #54226d;
  transition-duration: 0.3s
}

.btn:focus {
  background-color: #6e318c;
}

.card {
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.card:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 5px rgba(106, 27, 154, 50%);
}

.card-content {
  flex-grow: 1;
  text-align: center;
}

.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rarity {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.rarity-epic {
  background-color: rgb(224, 89, 199);
}

.rarity-legendary {
  background-color: rgb(252, 207, 74);
}

.rarity-uncommon {
  background-color: rgb(67, 170, 79);
}

.rarity-rare {
  background-color: rgb(44, 153, 226);
}

.rarity-common {
  background-color: rgb(81, 66, 69);
}

.cart { 
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: 1rem 1rem 0.7rem 1rem;
  border-radius: 5px;
  border: 1px solid #fff;
}

.cart:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.basket-list {
  border-radius: 5px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transform: translate(-50% -50%);
  width: 25rem;
  max-width: 90%;
  z-index: 5;
  background-color: #fff;
}

.close-icone {
  color: #6e318c;;
  cursor: pointer;
}

.about-title {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.about {
  text-align: justify;
}

.about-container:last-child {
  margin-bottom: 40px;
}

.contacts-container {
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contacts-link {
  padding: 5px;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #5a318c;
  margin-bottom: 10px;
  color: #5a318c;
}

.contacts-link:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px rgba(106, 27, 154, 50%);
}

.contacts-title {
  color: #5a318c;
  font-size: 2.5rem;
}

.collection-item-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-item-display-name {
  width: 30%;
}

.collection-item-btn {
  text-align: center;
  background-color: #5a318c;
  color: #fff;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
}

.collection-item-btn:hover {
  background-color: #47276d;
  transition-duration: 0.3s
}

.collection-item-btn:focus {
  background-color: #5a318c;
}

.link-buy {
  text-align: center;
  width: 35%;
  cursor: pointer;
}

.alert-container {
  padding: 10px;
  background: #000000;
  color: #fff;
  position: fixed;
  top: 4.5rem;
  right: 2rem;
  z-index: 6;
  border-radius: 5px;
  opacity: 80%;
  animation: animation-alert 250ms ease-in-out;
}

@keyframes animation-alert {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100%{
    opacity: 0.8;
    transform: translateY(0rem);
  }
}

.footer-links-item {
  color: rgba(255,255,255,0.8);
}


.footer-links {
  transform: translateX(-100%);
  height: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

@media (max-width: 991px) {
  .footer-links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    transform: translateX(0);
    height: auto;
  }
}